为个人网站升级TLS 1.3以及HSTS - Bugprogrammer的博客

https://www.bugprogrammer.me/2019/01/14/update-website-tls1.3-and-HSTS.html 

 理论相关TLSTLS简介SSL(Secure Sockets Layer) 安全套接层，是一种安全协议，经历了 SSL 1.0、2.0、3.0 版本后发展成了标准安全协议——TLS (Transport Layer Security) 传输层安全性协议。TLS 有 1.0 (RFC 2246)、1.1(RFC 4346)、1.2(RFC 5246)、1.3(RFC 8446) 版本。